<style>
    .phone-input,.password-input{background: transparent!important;}
</style>

<!--PC和WAP自适应版-->
<!--PC版-->
<div id="SOHUCS" sid="{{id}}"></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
if(!(navigator.userAgent.match(/(iPhone|iPod|Android|ios|Windows Phone)/i))){
 	window.changyan.api.config({
		appid: 'cytuWbPog',
		conf: 'prod_1aefc9ce5c0c7cf0d146e9b057ac319a'
	});
}
</script>
