<header id="default-nav-header" class="nav-header nav-header-fixed animated">
    <a id="home-button" href="{{@blog.url}}">
        <img width="180" src="{{asset "img/icons/favicon/favicon-194x194.png"}}" alt="{{@blog.title}} icon" class="icon rounded hvr-buzz-out" />
      </a>
    <a class="tags-button right">
        <i class="fa fa-search hvr-grow"></i>
    </a>
</header>
