{{#if feature_image}}
    <div class="material-cover animated fade-in" style="background-image:url({{img_url feature_image}})">
        <div class="mask-box"></div>
    </div>
{{else}}
    <div class="material-cover" style="background-image: url({{asset "/img/blog-cover.jpg"}})"></div>
{{/if}}
    <div class="background-container"></div>

