{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">
    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/meetqy" title="meetqy on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- Gitee-->
    <li class="social item hvr-grow-rotate" style="width: 38px;height: 36px;overflow: hidden">
        <a rel="me" target="_blank" href="https://gitee.com/meetqy" title="meetqy on Gitee" style="width: 25px;height: 25px;">
            <i style="width: 25px;height: 25px;background-image: url({{asset "/img/icons/gitee.png"}});background-size: 100% 100%"></i>
            <span class="label">Gitee</span>
        </a>
    </li>
</ul>
