<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>浏览器版本兼容错误</title>
        {{ghost_head}}
        {{> meta}}
        <link rel="stylesheet" type="text/css" href="{{asset "css/caffeine-theme.min.css"}}" />
        {{> head-css}}
    </head>
  <body class="page-browser-compatibility">
    <article>
        <section>
            <div class="error-body">
                <h1>
                    浏览器版本兼容错误！
                </h1>
                <hr class="divider short">
                <h2>
                     {{@blog.title}} 运行在最新的Chrome，Firefox，Safari和IE10 +上。 您的浏览器已过时，可能需要升级。
                </h2>
                <div class="call-to-action-container">
                    <nav class="navigation left">
                        <ul class="links">
                            <li class="nav-blog expanded">
                                <a href="http://browsehappy.com/" title="Browse Happy">请点击这里了解更多！</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    </article>
    <script type="text/javascript" src="{{asset "js/caffeine-theme.min.js"}}"></script>
    {{> google-analytics}}
  </body>
</html>
